extends layout

block content

  main
    h2 Contact us via E-Mail
    div
      table
        tr
          td Glen Humphrey:
          td: a(href="contactusget/?name=ghumphrey@applitec.com") ghumphrey@applitec.com
        tr
          td Barton Phillips:
          td: a(href="contactusget/?name=barton@applitec.com") barton@applitec.com

        tr
          td Alan Marcnak:
          td: a(href="contactusget/?name=alan@applitec.com") alan@applitec.com
