extends layout

block content 
  main
    table
      tr
      td
        img(src="http://bartonphillips.net/images/CIRCULA.gif" alt="")

        td(valign=bottom)
          h1 Site Map
    hr
    ul
      li
        a(href="/applitec") Applitec Home Page
      li
        a(href="/applitec/atribio") Company Information and Biography
      li
        a(href="/applitec/reference") References
      li
        a(href="/applitec/contactus") Contact Us
      li
        a(href="/applitec/aboutwebsite") About This Website
      li
        a(href="/applitec/webstats") Webstats
