extends layout

block content
  main
    h1.center Applitec Services

    #applitecServices
      #appservEE
        h3 Electronic Engineering
        ul
          li Digital design
          li Analog design
          li Circuit analysis
          li Power, Power Supplies, Micro Welders
          li Manufacturing Test Equipment
          li Laboratory Equipment
          li MTBF analysis
          li Failure analysis and reports

      #appservPD
        h3 Electronic Product Development
        ul
          li Complete turnkey product design from concept to final documentation and packaging.
          li. 
            State of the art engineering using the latest Digital Signal Processors,
            Field Programmable Gate Arrays, Programmable Logic Devices

      #appservCAD
        h3 Design Services
        ul
          li Computer Aided Design

          ul
            li Schematic Capture	(Orcad and others)
            li PCBA routing (PADS PowerPCB)

        ul
          li Proto-type and Production
          ul
            li Fabrication
            li Parts Procurement
            li Assembly
            li Testing
        ul
          li Field Programmable Logic Devices
          ul
            li Altera
            li Lattice
