extends layout

block content 

  main#top
    img(src="http://bartonphillips.net/images/museum.gif" alt="")
    h2 Company Information
    p.
      <i>Appli</i><b>Tech</b> was founded in 1987 to provide
      its clients technical capabilities of unique depth
      and diversity.
      We specializing in hardware and software design for small computer and
      consumer product. <i>Appli</i><b>Tech</b> provides full engineering support,
      including specification writing, analysis, application software, embedded
      firmware, analog and digital circuit design; as well as complete computer
      aided schematic capture, layout, fabrication, and testing. 

    p. 
      <span class="aptr">Applied Technology Resources Inc.</span> provides team support at any level,
      and project continuity that lasts the entire life of your program. Whether
      you need individual on-site engineering assistance or an engineering company
      to assume complete project responsibility we are here to help you.

    p <b>Representative Industries and Clients:&nbsp;</b>
      a(href="#top")
        img(src="http://bartonphillips.net/images/back.gif" alt="Return to top" border="0" height="40" width="40")

    ul
      dl
        dt Entertainment:
        dd <i>Walt Disney Imagineering</i>
        br
        dt Medical &amp; Banking
        dd <i>Beckman Coulter</i>
        dd 9172 Eton Avenue
        dd Chatsworth, CA 91311-5874
        br
        dd <i>Posey Company</i>
        dd 5635 Peck Rd.
        dd Arcadia, CA 91006-0020 USA
        br
        dt Test & Measurement:
        dd <i>Beckman Coulter</i>
        dd 9172 Eton Avenue
        dd Chatsworth, CA 91311-5874
        br
        dt Manufacturing:
        dd <i>Miyachi Unitek Corporation 2011</i>
        dd 1820 S. Myrtle Ave.
        dd Monrovia, CA 91016 USA
    hr

    h2 <i>Appli</i><b>Tech</b> Principals

    h3#owner Glen H. Humphrey &ndash; President.&nbsp;
      a(href="#top")
        img(src="http://bartonphillips.net/images/back.gif" alt="Return to top" border="0" height="40" width="40") 
      | &nbsp; 
      a(href="/applitec/contactusget?name=ghumphrey@applitec.com") ghumphrey@applitec.com&nbsp;
      a(href="/applitec/contactusget?name=ghumphrey@applitec.com")
        img(src="http://bartonphillips.net/images/butmail.gif" alt="Email Glen" border="0" height="59" width="34")

    p.  
      Mr. Humphrey has extensive experience in hardware design,
      both analog and digital, as well as software development. His digital projects
      have included the use of FPGA's. Analog designs include Video applications,
      DC-DC power supplies (standard
      and specialty high voltage greater then 300 volts), disk drive read channel,
      battery operated consumer equipment and PLL systems. He has experience
      in the use of mixed mode simulation tools, such as PSPICE,
      for hardware design and system analysis. Software includes C,
      PASCAL, and BASIC. Mr. Humphrey is one of the founders of AppliTech and
      has a Bachelors degree in Mathematical Physics from California State University,
      Northridge (CSUN) with additional academic education in software languages
      and electronics hardware design.

    h3 Barton L. Phillips  
       | &nbsp;
       a(href="#top")
         img(src="http://bartonphillips.net/images/back.gif" alt="Return to top" border="0" height="40" width="40")
       | &nbsp;
       a(href="/applitec/contactusget?name=barton@applitec.com") barton@applitec.com&nbsp;
       a(href="/applitec/contactusget?name=barton@applitec.com")
         img(src="http://bartonphillips.net/images/butmail.gif" alt="Email Barton" border="0" height="59" width="34")

    p.
      Mr. Phillips has over thirty years of comprehensive experience
      in computer systems design and program management. His experience includes
      medical and banking, computer peripherals, automated manufacturing, test
      and measurement, high-end telecommunication, and distributed database systems.
      He has done many embedded designs including motor controllers, and servo
      positioning systems; ESDI, ST506, and SCSI disk controllers. He also has
      a broad communication and networking background with TCP/IP, NFS, ISDN,
      and ATM protocol software and hardware. Mr. Phillips has extensive high-level
      application software experience, and has designed word processors, assemblers,
      interpreters, compilers, and operating systems. He has many years of programming
      experience with MS-DOS, MS-Windows, Sun and AT&amp;T
      UNIX, Mac OSX and Linux; as well as embedded operating environments.
      He is fluent in 'C', 'C++', Pascal, Visual Basic, and Assembly
      language, as well as most scripting languages like Perl, PHP and Python. 
      Mr. Phillips received his Bachelors degree from the University
      of California at Los Angeles in 1964.

    h3 Alan Marcnak
       | &nbsp;
       a(href="#top")
         img(src="http://bartonphillips.net/images/back.gif" alt="Return to top" border="0" height="40" width="40")
       | &nbsp;
       a(href="/applitec/contactusget?name=alan@applitec.com") alan@applitec.com&nbsp;
       a(href="/applitec/contactusget?name=mailto:alan@applitec.com")
         img(src="http://bartonphillips.net/images/butmail.gif" alt="Email Allan" border="0" height="59" width="34")

    p.
      Mr. Marcinak began working for Applitec in 1998 and brings with him a wide
      range of experience in many fields.  They include assisting in development of circuits
      and\/or test equipment for industrial controls and liquid hydrocarbon measurement,
      electronic weight scale, instrumentation amplifiers for aerospace and military,
      medical equipment, servo positioning systems for disk and tape drives, and telecom equipment.
      These involved analog and digital design, assembly language programming, parts procurement,
      prototype construction, surface mount work, test, debug, documentation, and on-site equipment installation.
      Mr. Marcinak has a BS in Electronic Engineering Technology from California Polytechnic State University, San Luis Obispo, CA. 

    p
      a(href="#top")
        img(src="http://bartonphillips.net/images/back.gif" alt="Return to top" border="0" height="40" width="40")
      br

