extends layout

block stylesheets
  style.
    main { padding: 1em;}
    form input { font-size: 1rem; padding-left: .3rem; }
    form textarea { font-size: 1rem; padding-left: .3rem; width: 98%; height: 5rem; }
    form input[type='submit'] { height: 2rem; border-radius: .5rem; }

append header
  h1.center Email to '#{name}'      

block content
  main
    form(action='/applitec/contactuspost' method='post')
      input(type='text' name='subject' autofocus required placeholder='Subject')
      br
      textarea(name='message' required placeholder='Message')
      br
      input(type='hidden' name='name' value='#{name}')
      input(type='submit' value='Send Mail')
    
    