extends layout

block content 

  main#top
    img(style="margin-top: 10px;" src="http://bartonphillips.net/images/CYLINDR.gif" alt="")
    h2 Company References
    | !{dl}
    h3 Links:
    ul
      li: a(href="https://www.linkedin.com/in/glen-h-humphrey-24238a14?trk=nav_responsive_tab_profile_pic") Glen Humphrey on Linkedin
      //li: a(href="") Glen Humphrey on Facebook
      li: a(href="https://www.linkedin.com/in/barton-phillips-b37919b") Barton Phillips on Linkedin
      li: a(href="http://www.facebook.com/bartonlp") Barton Phillips on Facebook

    h3 Patents
    ul
      li Unitek Patent, Capacitive discharge welding power supply, No. 60/897,379:
        a(href="http://www.freshpatents.com/Capacitive-discharge-welding-power-supply-and-capacitive-discharge-welder-using-the-same-dt20080724ptan20080173626.php") Link

      li Harris Patent, Wireless butt set, Patent 6252942:
        a(href="https://www.google.com/patents/US6252942") Link

