extends layout.jade

block link
  link(rel="canonical" href="https://www.bartonphillips.com")

block stylesheets
  style.
    #show {width: 20rem; margin: auto;}
    #show img {width: 100%;}

block jscripts
  // Because the images are done via java script the only code that needs to be 
    added is here in the jade file. The dobanner function is from ximage.js and 
    puts its code in #show below.

  script(src="https://bartonphillips.net/js/random.js")
  script(src="https://bartonphillips.net/js/yimage.js")
  script dobanner("Pictures/PasoRobles2013/*.JPG", {mode: 'rand'})

block content 
  p.
    This page is on port #{args.port} and is written using <b>node.js</b> with <b>express.js</b>.

  p. 
    While this may not seem like a wonderful thing it is interesting. I have used <b>express</b>
    as the framework.
    For details on the implementation 
    <a href="howitworks">How It Works</a>.
  // The #show div is where the image goes from dobanner().
  #show
