doctype html
html
  head
    title #{title}
    meta(name=viewport content="width=device-width, initial-scale=1")
    meta(charset='utf-8')

    block stylesheets
    link(rel="stylesheet" href="https://bartonphillips.net/css/blp.css" title="blp default")

    block jscripts
      
  body
    header
      h1.
        Error From APP<br>
      hr
  
      block content
